
QPushButton#start_btu {
    background-color: white;
}

QPushButton#start_btu:hover {
    background: #ff4a48;
}

QWidget#main{
    background-color: black;
}
QPushButton{
        color: black;
}

QWidget#chart1 {
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}
QWidget#chart {
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}


QWidget#chart2 {
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}

QWidget#chart3 {
    background-color: black;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    /*border-top-right-radius: 10px;*/
    /*border-bottom-right-radius: 10px;*/
}